<ion-content class="auth-content">
  <div class="auth-container">
    <!-- Logo centrado -->
    <img src="assets/logo.png" alt="Logo" class="logo" />



    <!-- Título -->
    <h2 class="title">Bienvenido 👋</h2>
    <p class="subtitle">Inicia sesión para continuar</p>

    <!-- Campos de entrada -->
    <ion-item class="input-item">
      <ion-input
        [(ngModel)]="email"
        type="email"
        placeholder="Correo electrónico"
      ></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-input
        [(ngModel)]="password"
        type="password"
        placeholder="Contraseña"
      ></ion-input>
    </ion-item>

    
    <ion-button expand="block" shape="round" (click)="login()">
      Entrar
    </ion-button>

    
    <p class="forgot" (click)="recoverPassword()">¿Olvidaste tu contraseña?</p>

    
    <p class="switch-text">
      ¿No tienes cuenta?
      <a routerLink="/register"><b>Regístrate aquí</b></a>
    </p>
  </div>
</ion-content>
